body{
font-family: Arial;
margin:0;
background:#f4f6f8;
}

header{
background:#002f5b;
color:white;
text-align:center;
}

.logo{
height:80px;
padding:10px;
}

nav ul{
list-style:none;
display:flex;
justify-content:center;
background:#004a8f;
padding:0;
margin:0;
}

nav ul li a{
color:white;
padding:15px;
display:block;
text-decoration:none;
}

nav ul li a:hover{
background:#0066cc;
}

.hero{
padding:80px;
text-align:center;
color:white;
background:#003b70;
}

section{
padding:50px 20px;
max-width:1100px;
margin:auto;
}

.product-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.product-card{
background:white;
padding:20px;
cursor:pointer;
border-radius:6px;
transition:.3s;
}

.product-card:hover{
transform:translateY(-5px);
}

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.7);
}

.modal-content{
background:white;
margin:10% auto;
padding:20px;
width:90%;
max-width:500px;
text-align:center;
}

.modal img{
width:100%;
}

.close{
float:right;
font-size:25px;
cursor:pointer;
}

footer{
background:#002f5b;
color:white;
text-align:center;
padding:20px;
}
